/*
    Jessica J. Hernandez
    ID: 0004631401
    June 25, 2015 - The Project
    Website Interaction & Animation | 201506-01
    Full Sail University
*/

.chart-area .chart-bar.love         { background-color: #FDB742;}
.chart-area .chart-bar.coffee       { background-color: #B3CC57;}
.chart-area .chart-bar.traditional  { background-color: #F92A57;}
.chart-area .chart-bar.kiwi         { background-color: #23DAC8;}
.chart-area .chart-bar.nutella      { background-color: #F9D423;}