/*
    Jessica J. Hernandez
    ID: 0004631401
    June 25, 2015 - The Project
    Website Interaction & Animation | 201506-01
    Full Sail University
*/


/* _____________________________________ */
/*              MAIN STYLES              */
/* _____________________________________ */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

header {
    width: 98%;
    padding: 1%;
    box-shadow: 0px 0px 6px #666; 
    overflow: auto;
    z-index: 1000;
    position: relative;
}

#cta {
    background: #EF746F;
    padding: 5% 0;
}

#about {
    padding: 7% 0;
    background: #FCF3CD;
}

#flavors {
    background: #F0FCBE;
    padding: 7% 0;
}

#i-cream-data {
    width: 85%;
    margin: 0 auto;
}

footer {
    padding: 8% 0 4% 0;
    background: #333;
    color: #fff;
    position: relative;
}

#foot-contents {
    width: 85%;
    margin: 0 auto;
}

#foot-nav {
    width: 56%;
    border-right: 1px solid #fff;
}

#contact-form {
    padding-left: 3%;
    width: 40%;
    vertical-align: top;
}

#foot-nav, #contact-form, #links, #ss-details {
    display: inline-block;
}

#links, #ss-details {
    width: 37%;
    padding-left: 12%;
    vertical-align: middle;
    margin-bottom: 7%;
}



/* _____________________________________ */
/*               NAVIGATION              */
/* _____________________________________ */

nav {
    font-family: 'Martel Sans', sans-serif;
    text-transform: uppercase;
    float: right;
    width: 59%;
    font-size: 170%;
    font-weight: 200;
    margin-top: 1.5%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 -2px;
    display: inline-block;
    padding: 1.3% 2% 1% 2%;
    border-bottom: 2px solid white;
    color: #F92A57;
}

nav li:hover {
    color: #23DAC8;
    border-bottom: 2px solid #F9D423;
}

#locations {
    background: #F99191 ;
    padding: 3% 0;
}

#map-section {
    width: 85%;
    margin: 0 auto;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 130%;
}

footer ul li {
    padding: 2% 2%;
}

#links a:link, #links a:visited {
    color: #23DAC8;
    text-decoration: none;
}

#links a:hover li {
    color: #F9D423;
    background: #555;
}

#social-media a:link, #social-media a:visited {
    text-decoration: none;
}



/* _____________________________________ */
/*           HEADINGS & TEXT             */
/* _____________________________________ */

h1 {
    position: absolute;
    left: -9999px;
}

h2 {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 200;
    font-size: 500%;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

footer h2 {
    color: #fff;
    margin-bottom: 50px;
}

h3 {
    color: #FDB742;
    font-size: 180%;
    text-shadow: 1px 1px 2px #fff;
}

#details {
    width: 85%;
    margin: 0 auto;
}

.detail-col {
    padding: 1% 3%;
    display: inline-block;
    width: 26.98%;
    height: 416px;
    margin: 0;
    vertical-align: top;
}

.detail-col:nth-child(3) {
    border-left: 1px solid #23DAC8;
    border-right: 1px solid #23DAC8;
}

.detail-col p {
    line-height: 2.5em;
    font-size: 104%;
}

#course-info {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 0.11em;
    font-size: 90%;
    text-align: center;
    padding-top: 40px;
}



/* _____________________________________ */
/*            LISTS & TABLES             */
/* _____________________________________ */





/* _____________________________________ */
/*                IMAGES                 */
/* _____________________________________ */

img {
	max-width: 100%;
}

#logo {
    width: 30%;
    float: left;
}

#gallery {
    padding: 4% 0;
    background: #23DAC8;
}

#images {
    width: 85%;
    margin: 0 auto;
}

.photo {
    display: inline-block;
    width: 14.4%;
    margin: 0;
    padding: 1%;
}

.photo p {
    text-align: center;
}

#social-media {
    width: 45%;
    margin: 0 auto;
}

#social-media img {
    margin-right: 10px;
}

#ss-details img {
    width: 80%;
    display: inline-block;
    margin: 0;
    padding: 0;
}




/* _____________________________________ */
/*                  MAP                  */
/* _____________________________________ */

.map_container {
    width: 53%;
    position: relative;
    margin-top: 20px;
    padding-right: 3%;
    border-right: 1px solid black;
    display: inline-block;
}

#detail_container {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    background: yellow;
    padding: 3% 3% 3% 7%;
    margin-top: 20px;
}

.map_container a.dot {
	background-image: url(../images/markers.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 34px;
	width: 34px;
	display: block;
	position: absolute;
	cursor: pointer;
}

.map_container a.dot.selected {
	background-position: 68px 34px;
}

.map_container a.dot:hover {
	background-position: 10px 34px;
}




/* _____________________________________ */
/*                 FORMS                 */
/* _____________________________________ */

input[type="text"], input[type="email"] {
    width: 93%;
    padding: 3%;
    margin-bottom: 3%;
    border: 2px solid #F9D423;
    color: #F92A57;
    letter-spacing: 0.1em;
    background: white;
}

input[type="email"] {
    color: #B3CC57;
}

textarea {
	width: 93%;
	height: 60px;
	border: none;
	padding: 3%;
    border: 2px solid #F9D423;
    color: #23DAC8;
    letter-spacing: 0.1em;
    margin-bottom: 3%;
    background: white;
}
 
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    outline: 0;
    border: 2px solid #FDB742;
}

input[type="submit"] {
    color: white;
    padding: 2% 4%;
    float: right;
    background: #EF746F;
    border: none;
}

input[type="submit"]:hover {
    background: #EF5E5E;
}


/* _____________________________________ */
/*             MEDIA QUERIES             */
/* _____________________________________ */

@media only screen
    and (max-width : 899px) {
     
      
        
    }
	
	
@media only screen
	and (max-width : 767px) {
        
       
        
	}


@media only screen
	and (max-width : 580px) {
        
        
        
    }


@media only screen 
	and (max-width: 414px) {
        
        

	}