/*
    Jessica J. Hernandez
    ID: 0004631401
    June 25, 2015 - The Project
    Website Interaction & Animation | 201506-01
    Full Sail University
*/


/* _____________________________________ */
/*              MAIN STYLES              */
/* _____________________________________ */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    position: relative;
}

header {
    width: 98%;
    padding: 1%;
    box-shadow: 0px 0px 6px #666; 
    overflow: auto;
    z-index: 1000;
    position: absolute;
    top: 0;
    background: white;
}

#cta {
    background: #EF746F;
    padding: 6% 0;
}

#about {
    padding: 7% 0;
    background: #FCF3CD;
}

footer {
    padding: 8% 0 4% 0;
    background: #333;
    color: #fff;
    position: relative;
    clear: both;
}

#foot-contents {
    width: 85%;
    margin: 0 auto;
}

#foot-nav {
    width: 56%;
    border-right: 1px solid #fff;
}

#contact-form {
    padding-left: 3%;
    width: 40%;
    vertical-align: top;
}

#foot-nav, #contact-form, #links, #ss-details {
    display: inline-block;
}

#links, #ss-details {
    width: 37%;
    padding-left: 12%;
    vertical-align: middle;
    margin-bottom: 7%;
}

#loc_flav {
    width: 100%;
    position: relative;
    overflow: auto;
    background: #FCF3CD;
}

#locations, #flavors {
    padding: 7% 0;
    width: 38.5%;
    float: left;
}

#locations {
    background: #F99191;
    padding-left: 7.5%;
    padding-right: 4%;
}

#flavors {
    background: #FCF3CD;
    padding-right: 7.5%;
    padding-left: 4%;
}

#placeholder {
    width: 100%;
    height: 128px;
    position: relative;
}



/* _____________________________________ */
/*               NAVIGATION              */
/* _____________________________________ */

nav {
    font-family: 'Martel Sans', sans-serif;
    text-transform: uppercase;
    float: right;
    width: 59%;
    font-size: 170%;
    font-weight: 200;
    margin-top: 1.5%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 -2px;
    display: inline-block;
    padding: 1.3% 2% 1% 2%;
    border-bottom: 2px solid white;
    color: #F92A57;
}

nav li:hover {
    color: #23DAC8;
    border-bottom: 2px solid #F9D423;
}

nav li a {
    width: 100%;
    height: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 130%;
}

footer ul li {
    padding: 2% 2%;
}

#links a:link, #links a:visited {
    color: #23DAC8;
    text-decoration: none;
}

#links a:hover li {
    color: #F9D423;
    background: #555;
}

#social-media a:link, #social-media a:visited {
    text-decoration: none;
}



/* _____________________________________ */
/*           HEADINGS & TEXT             */
/* _____________________________________ */

h1 {
    position: absolute;
    left: -9999px;
}

h2 {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 200;
    font-size: 500%;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

footer h2 {
    color: #fff;
    margin-bottom: 50px;
}

h3 {
    color: #FDB742;
    font-size: 180%;
    text-shadow: 1px 1px 2px #fff;
}

#details {
    width: 85%;
    margin: 0 auto;
}

.detail-col {
    padding: 1% 3%;
    display: inline-block;
    width: 26.98%;
    height: 416px;
    margin: 0;
    vertical-align: top;
}

.detail-col:nth-child(3) {
    border-left: 1px solid #23DAC8;
    border-right: 1px solid #23DAC8;
}

.detail-col p {
    line-height: 2.5em;
    font-size: 104%;
}

#course-info {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 0.11em;
    font-size: 90%;
    text-align: center;
    padding-top: 40px;
}



/* _____________________________________ */
/*                AUDIO                  */
/* _____________________________________ */

#music {
    width: 45px;
    height: 45px;
    background: #fff;
    background-image: url(../images/speaker_off.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
	background-position: 8px 6px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 0px 6px #555; 
    z-index: 1000;
    border-radius: 100px;
    opacity: 0.5;
}

#music:hover {
    opacity: 1.0;
    cursor: pointer;
}



/* _____________________________________ */
/*                IMAGES                 */
/* _____________________________________ */

img {
	max-width: 100%;
}

#logo {
    width: 30%;
    float: left;
}

#gallery {
    padding: 7% 0;
    background: #23DAC8;
}

#images {
    width: 85%;
    margin: 0 auto;
}

.photo {
    display: inline-block;
    width: 14.4%;
    margin: 0;
    padding: 1%;
}

.photo p {
    text-align: center;
}

#social-media {
    width: 45%;
    margin: 0 auto;
}

#social-media img {
    margin-right: 10px;
}

#ss-details img {
    width: 80%;
    display: inline-block;
    margin: 0;
    padding: 0;
}



/* _____________________________________ */
/*                  MAP                  */
/* _____________________________________ */

#map {
    width: 549px;
}

.map_container {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.detail_container {
    position: absolute;
    left: 20px;
    top: 290px;
    width: 43%;
    padding: 3% 3%;
    border: 3px solid #B3CC57;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(249, 42, 87, 0.4);
}

.map_container a.dot {
	background-image: url(../images/markers.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
    width: 34px;
	height: 34px;
	display: block;
	position: absolute;
	cursor: pointer;
}

.map_container a.dot:hover {
	background-position: -34px 0px;
}

.map_container a.dot.selected {
	background-position: -68px 0px;
}

.city_detail_container {
    display: none;
}

.map_container .location_info h3 img {
    clear: both;
}

.map_container .location_info h3 { 
    color: #23DAC8;
    position: absolute;
    top: 6px;
    left: 55px;
}

.choose_city {
    color: #23DAC8;
}

.map_container p { 
    font-family: 'Martel Sans', sans-serif;
    font-size: 120%;
    margin-bottom: 0;
    line-height: 2em;
    padding-left: 20px;
}



/* _____________________________________ */
/*                 CHART                 */
/* _____________________________________ */

.chart-container { 
    width: 100%; 
    border: 1px solid #5a8315; 
    margin-top: 40px;
    background: rgba(255,255,255,0.5);
}

.chart-title { 
    background-color: #23DAC8; 
    padding: 2%; 
    margin: 0 0 30px 0; 
}

.chart-title p { 
    margin: 0px; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666;
    text-align: center;
}

.chart-content { 
    height: 340px; 
    position: relative; 
    overflow: hidden; 
    margin: 5px 0px 0px 0px; 
}

.chart-y-axis { 
    width: 50px; 
    height: 300px; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
}

.chart-y-axis p { 
    margin: 0px 0px 0px 10px; 
    padding: 0px 0px 0px 5px; 
    width: 35px; 
    position: absolute; 
    border-bottom: 1px solid #ccc; 
}

.chart-x-axis { 
    height: 50px; 
    position: absolute; 
    top: 300px; 
    left: 60px; 
}

.chart-x-axis p { 
    position: absolute; 
    top: 0px; 
    width: 100px; 
    color: #EF746F; 
    text-align: center; 
}

.chart-area {
	width: 91%;
	height: 300px;
	position: absolute;
	top: 0px;
	left: 50px;
	background: #fff;
}

.chart-area .chart-bar {
	position: absolute;
	bottom: 0px;
	width: 60px;
	height: 0px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-repeat: no-repeat;
	background-position: 50% bottom;
}

.chart-area .chart-bar.love         { background-color: #FDB742;}
.chart-area .chart-bar.coffee       { background-color: #B3CC57;}
.chart-area .chart-bar.traditional  { background-color: #F92A57;}
.chart-area .chart-bar.kiwi         { background-color: #23DAC8;}
.chart-area .chart-bar.nutella      { background-color: #F9D423;}

.chart-area .chart-bar p { 
    margin: 5px 0px 0px 0px; 
    text-align: center; 
    color: #fff; 
    display: none; 
}



/* _____________________________________ */
/*                 FORMS                 */
/* _____________________________________ */

input[type="text"], input[type="email"] {
    width: 93%;
    padding: 3%;
    margin-bottom: 3%;
    border: 2px solid #F9D423;
    color: #F92A57;
    letter-spacing: 0.1em;
    background: white;
}

input[type="email"] {
    color: #B3CC57;
}

textarea {
	width: 93%;
	height: 60px;
	border: none;
	padding: 3%;
    border: 2px solid #F9D423;
    color: #23DAC8;
    letter-spacing: 0.1em;
    margin-bottom: 3%;
    background: white;
}
 
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    outline: 0;
    border: 2px solid #FDB742;
}

input[type="submit"] {
    color: white;
    padding: 2% 4%;
    float: right;
    background: #EF746F;
    border: none;
}

input[type="submit"]:hover {
    background: #EF5E5E;
}



/* _____________________________________ */
/*               FIXED NAV               */
/* _____________________________________ */

.scrolled-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    height: 50px;
    overflow: inherit;
}

.scrolled-logo img{
    width: 54%;
}

.scrolled-nav {
    width: 49%;
    font-size: 140%;
    text-align: right;
    margin-top: 0;
}